<input type="button" value="cursos" (click)="this.acaoNgIf()">

<h1 *ngIf="this.exibirTexto">Nossos cursos</h1>

<hr>

<ul *ngFor ="let curso of cursos; let indice = index" (click)="this.acaoNgIf()">
  <li *ngIf="this.exibirTexto">{{indice +1}} {{curso}}</li>
</ul>

<hr>

<div [ngSwitch]="curso_selecionado">
  <div *ngSwitchCase="cursos[0]">HTML</div>
  <div *ngSwitchCase="cursos[1]">CSS</div>
  <div *ngSwitchCase="cursos[2]">javascript</div>
  <div *ngSwitchCase="cursos[3]">Angular</div>
</div>

<hr>

  <style>
    .ligada{
      border: 1px solid;
      border-radius: 20px;
      width: 30px;
      height: 30px;
      background-color: green;
    }

    .desligada{
      border: 1px solid;
      border-radius: 20px;
      width: 30px;
      height: 30px;
      background-color: red;
    }
  </style>
  <h1>ngClass</h1>
  <input type="button" value="Desligar">
  <div [ngClass]="{'ligada':ligada, 'desligada':!ligada}" ></div>

  <hr>

  <div>
    <h1>databinding</h1>
    <h2>{{nome}}</h2>
    <img src ="{{imagem}}">
    <img [src] ="imagem">
    <h2>{{valor1 + valor2}}</h2>

  </div>

  <hr>

  <button (click)="mensagem()">click aqui</button>

  <hr>
    <!--Two way data biding
      importe para o app.module.ts o modulo FormsModule
    -->
    <h1>Two way data biding</h1>
    <input type="text" [(ngModel)]="nome">
    <h2>{{nome}}</h2>


